/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-abr-2016, 8:46:19
    Author     : FIA-LAB1D6
*/
#res{
    width: 150px;
    height: 30px;
    background: #ff6600;
}
#calcontainer{
    width:200px;
    height: 250px;
    padding: 15px;
    background:#333333;
}
#entrada{
    border: 1px solid aliceblue;
    background: antiquewhite;
    width:90%;
    height:30px;
    margin-bottom: 20px;
}
input{
    width:20%;
    height: 30px;
    margin: 10px 10px 10px 0px;
    float: left;
}
#div,#suma,#mult,#resta,#igual{
    background: #00cc00;
    border:1px solid black;
}
